# See https://atom.io/docs/latest/creating-a-package#menus for more details
### CONTEXT MENU ###
# 'context-menu':
#     '.overlayer':
#         'Enable Timekeeper': 'timekeeper:toggle'

### MENU ###
'menu': [ {
    'label': 'Packages'
    'submenu': [
        'label': 'Timekeeper'
        'submenu': [
            { 'label': 'Dashboard', 'command': 'timekeeper:dashboard' }
            { 'label': 'Start Timekeeper', 'command': 'timekeeper:start' },
            { 'label': 'Pause Timekeeper', 'command': 'timekeeper:pause' },
            { 'label': 'Finish Timekeeper', 'command': 'timekeeper:finish' },
            { 'label': 'Reset Timekeeper', 'command': 'timekeeper:reset' },
            { 'label': 'Abort Timekeeper', 'command': 'timekeeper:abort' }
        ]
    ]
} ]