# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
    # Timekeeper Timer Actions
    'ctrl-alt-s': 'timekeeper:start'
    'ctrl-alt-p': 'timekeeper:pause'
    'ctrl-alt-f': 'timekeeper:finish'
    'ctrl-alt-r': 'timekeeper:reset'
    'ctrl-alt-a': 'timekeeper:abort'

    # Timekeeper UI Actions
    'ctrl-alt-d': 'timekeeper:dashboard'